{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'includes/nav_menu.html' %}

    <section class="bg-light">
        <div class="container px-xl-0">
            <form action="{% url 'add_post' %}" method="POST">
                {{ item_form|crispy }}
                {{ post_form|crispy }}
                {{ image_form|crispy }}
                <input type="submit" class="btn mr-20 sm action-2 f-16 " value=Добавить>
            </form>
        </div>
    </section>

{% endblock %}