{% extends 'main/base.html' %}
{% block content %}
    {% include 'includes/nav_menu.html' %}
    <section class="bg-light blog_1">
        <div class="container px-xl-0">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-xl-5 justify-content-center">
                    <img src="{{ post.image_set.first.photo.url }}" alt="{{ post.title_post}}" class="w-full" data-aos="fade-down" data-aos-delay="500">
                </div>
                <div class="col-lg-6 pt-100 pb-100">
                    <div class="mb-15 d-flex color-heading f-18" data-aos="fade-down" data-aos-delay="300">
                        <div>
                            by&nbsp;
                        </div>
                        <a href="#" class="link color-heading">
                            {{ post.user.first_name }} {{ post.user.last_name  }}
                        </a>
                        <div class="pr-10 pl-10">
                            ·
                        </div>
                        <div>
                            {{ post.date_create }}
                        </div>
                    </div>
                    <h3 class="mb-25" data-aos="fade-down" data-aos-delay="600">
                        {{ post.title_post }}
                    </h3>
                    <div class="mb-70 color-heading f-18 text-adaptive" data-aos="fade-down" data-aos-delay="900">
                        {{ post.content}}
                    </div>
                    <div class="d-sm-flex justify-content-between" data-aos="fade-down" data-aos-delay="1200">
                        <a href="{% url 'index' %}" class="mb-sm-0 btn f-16 lg action-2" data-aos="slide-up" data-aos-delay="300">
                            К рекомендациям
                        </a>
                        <div class="d-flex align-items-center f-16">
                            <a href="#" class="mr-20 link color-heading d-flex align-items-center">
                                <div>
                                    22
                                </div>
                                <i class="ml-10 f-20 far fa-heart">
                                </i>
                            </a>
                            <a href="#" class="mr-20 link color-heading d-flex align-items-center">
                                <div>
                                    32
                                </div>
                                <i class="ml-10 f-20 far fa-comment-alt">
                                </i>
                            </a>
                            <a href="#" class="link color-heading d-flex align-items-center">
                                <div>
                                    28
                                </div>
                                <i class="ml-10 f-20 fas fa-share">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
